html,
body {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#navigation {
    height: 45px;
    font: normal 20px/45px '';
    color: rgb(108, 106, 106);
    background-color: black;
    text-align: center;
}

#logout {
    position: absolute;
    right: 20px;
    top: 5.5px;
    width: 90px;
    height: 30px;
    color: white;
    font: normal 20px/30px '';
    background-color: rgb(234, 88, 14);
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
}

#logout:hover {
    background-color: rgb(194, 73, 13);
}

#identify,
#landform {
    position: relative;
    display: inline-block;
    height: 45px;
    color: white;
    text-align: center;
    width: 155px;
    cursor: default;
}


#compare,
#Missions {
    position: relative;
    display: inline-block;
    height: 45px;
    color: white;
    text-align: center;
    width: 155px;
    cursor: pointer;
}

.flag {
    position: absolute;
    display: none;
    top: -4px;
    height: 10px;
    width: 151px;
    border-radius: 5px;
    background-color: rgb(234, 88, 14);
}


#main {
    position: relative;
    margin-left: 0;
    height: 629px;
}

#referenceWindow1,
#targetWindow1 {
    float: left;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#targetWindow {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#referenceWindow {
    float: left;
    width: 0;
    height: 100%;
    margin: 0;
    padding: 0;
}

.year {
    display: inline-block;
    border-bottom: 1px solid rgb(102, 98, 98);
    width: 100%;
    height: 40px;
    top: 0;
    text-align: center;
    font: normal 20px/40px '';
    color: rgb(26, 25, 25);
    cursor: pointer;
}

#years_right {
    display: none;
    overflow-y: scroll;
    float: right;
    width: 140px;
    height: 635px;
    background-color: rgb(241, 236, 236);
}

#years {
    display: none;
    overflow-y: scroll;
    float: left;
    width: 140px;
    height: 635px;
    background-color: rgb(241, 236, 236);
}

#function {
    display: none;
    float: right;
    width: 166px;
    height: 629px;
    background-color: rgb(241, 236, 236);
    border-left: 4px solid black;
    overflow: hidden;
}

#mission {
    display: block;
    margin: 5px 0;
    height: 50px;
    font: normal 27px/47px '';
    color: rgb(24, 23, 23);
    text-align: center;
    background-color: rgb(241, 236, 236);
    box-shadow: 0 8px 5px rgb(203, 199, 199);
    cursor: pointer;
}

#mission:hover {
    background-color: rgb(216, 212, 212);
}

#missionList {
    display: none;
    width: 100%;
    height: 280px;
    background-color: rgb(189, 185, 185);
    box-shadow: 0 8px 5px rgb(203, 199, 199);
}

#missionList_identify,
#missionList_landform {
    position: absolute;
    top: 45px;
    display: none;
    width: 100%;
    height: 296px;
    background-color: rgb(189, 185, 185);
    box-shadow: 0 2px 5px rgb(150, 146, 146);
    z-index: 1;
}


.Mission_landform {
    cursor: pointer;
    border-bottom: 1px solid rgb(66, 64, 64);
}

.Mission_identify {
    cursor: pointer;
    border-bottom: 1px solid rgb(66, 64, 64);
}

#addMission_landform,
#addMission_identify {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(144, 142, 142);
}

#missions {
    height: 250px;
    overflow-y: scroll;
}

#missions_landform {
    height: 250px;
    overflow-y: scroll;
}

#missions_identify {
    height: 250px;
    overflow-y: scroll;
}

#addMission {
    height: 30px;
    color: rgb(26, 25, 25);
    text-align: center;
    line-height: 30px;
    background-color: rgb(241, 236, 236);
    font-size: 20px;
    cursor: pointer;
}

.Mission {
    height: 25px;
    margin: 2px 2px;
    color: rgb(30, 30, 30);
    line-height: 25px;
}

#option {
    position: absolute;
    margin: 60px 30%;
    display: none;
    width: 40%;
    height: 26%;
    background-color: #2d2b2b;
    color: rgb(182, 180, 180);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(49, 48, 48);
    z-index: 3;
}

.line {
    width: 100%;
    height: 25%;
}

#p1 {
    text-align: center;
    display: inline-block;
    width: 20%;
}

#Name {
    width: 75%;
}

#p2 {
    text-align: center;
    display: inline-block;
    width: 15%;
}

#Lat,
#Lon {
    display: inline-block;
    width: 31.25%;
}

#p3 {
    text-align: center;
    display: inline-block;
    width: 17%;
}

#Zoom {
    width: 10%;
}

#add {
    float: left;
    width: 50%;
    color: rgb(182, 180, 180);
    background-color: #2d2b2b;
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#cancel {
    width: 50%;
    color: rgb(182, 180, 180);
    background-color: #2d2b2b;
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#add:hover,
#cancel:hover {
    background-color: #2e3031;
}

.missionName {
    float: left;
    width: 80%;
    cursor: pointer;
    background-color: rgb(241, 236, 236);
    box-shadow: 5px 5px 5px rgb(136, 133, 133);
}

.del {
    float: left;
    width: 20%;
    text-align: center;
    background-color: rgb(218, 216, 216);
    box-shadow: 5px 5px 5px rgb(136, 133, 133);
    cursor: pointer;
}

.year:hover {
    background-color: rgb(177, 174, 174);
}

#screenshotDiv {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.hide {
    display: none;
}

img {
    border: 10px solid white;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

#screenshotDiv>* {
    margin: 0.5em;
}

.screenshotCursor {
    cursor: crosshair;
}

.action-button {
    padding: 0.6em;
    border: 1px solid #0079c1;
    text-align: center;
    background-color: white;
    cursor: pointer;
}

.action-button:hover,
.action-button:focus {
    background: #0079c1;
    color: white;
}

#maskDiv {
    position: absolute;
    background: rgba(255, 51, 0, 0.1);
    border: 2px dashed rgb(255, 51, 0);
}

#position {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black
}

.lPos {
    position: relative;
    top: 0;
    display: inline-block;
    height: 22.8px;
    width: 51px;
    margin: 7.6px 5px;
    color: rgb(182, 180, 180);
    font-size: 17px;
}

.pos {
    position: relative;
    display: inline-block;
    height: 22.8px;
    width: 180px;
    margin: 7.6px 10px;
    color: black;
    background-color: white;
    font: normal 17.5px/22.8px '';
}

#AI_content {
    position: absolute;
    margin: 50px 15%;
    top: 0;
    width: 70%;
    height: 612px;
    background-color: #f5efe9;
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(49, 48, 48);
    z-index: 2;
    opacity: 0;
}

#close {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    z-index: 4;
    font: normal 16px/20px '';
    border-radius: 20px;
    text-align: center;
    color: #726d6d;
    border: 2px solid #726d6d;
    cursor: pointer;
}

#recognize {
    width: 100%;
    height: 100%;
}

#myChart {
    width: 95%;
    height: 100%;
}

img {
    position: absolute;
    border: none;
    width: 40%;
    height: 70%;
}

#imag1 {
    top: 10%;
    left: 7.5%;
}

#imag2 {
    top: 10%;
    right: 7.5%;
}

#span1 {
    position: absolute;
    top: 85%;
    left: 7.5%;
    font: normal 15px/30px '';
}

#span2 {
    position: absolute;
    top: 85%;
    left: 52.5%;
    font: normal 15px/30px '';
}

.recIn {
    height: 15px;
    width: 60px;
    font: normal 15px/30px '';
}